<!DOCTYPE html>
<html lang="en">
{% load static %}
 <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
    <header class="page-header">
        <div class="container">
            <h1><a>UW-Milwaukee Course Management</a></h1>
        </div>
    </header>
<div class="topnav">
  <a class="active" href="/dashboard/">Home</a>
    <a href="/courses/">Course List</a>
    <a href="/people/">People</a>
    <a href="/addcourse/">Add Course</a>
</div>
<body>
    <h1>Courses for admin: {{ name }}</h1>
{% for class in courses %}
    <ul>
        {%  for data in class %}
                {% if forloop.first %}
                    <h4>{{ class.0 }}</h4>
                {%  else %}
                    <li> {{ data }}</li>
                {%  endif %}
        {% endfor %}
    </ul>
{% endfor %}
</body>
</html>