<!DOCTYPE html>
<html lang="en">
{% load static %}
 <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
    <header class="page-header">
        <div class="container">
            <h1><a>UW-Milwaukee Course Management</a></h1>
        </div>
    </header>
<div class="topnav">
  <a class="active" href="/dashboard/">Home</a>
    <a href="/courses/">Courses</a>
    <a href="/labs/">Labs</a>
    <a href="/people/">People</a>
    <a href="/">Logout</a>
</div>

<body>
  <p class="header-create-course" >Add a new course</p>
<form action="" method="post">
    {% csrf_token %}
    <table>
        <tr><td><input type="text" id="name" name="name" class = "course-input" placeholder="Course Name"></td> <td><input type="text" id="instructor" name="instructor" class = "course-input" placeholder="Instructor"></td></tr>
        <tr><td><input type="text" name="lab" id="lab" class = "course-input" placeholder="Lab:"></td><td><input type="text" name="meeting_time" id="meeting_time" class = "course-input" placeholder="Meeting Time:"></td></tr>
        <tr><td><input type="text" name="semester" id="semester" class = "course-input" placeholder="Semester:"></td><td><input type="text" name="course_type" id="course_type" class = "course-input" placeholder="Course Type:"></td></tr>
        <tr><td><input type="text" name="description" id="description" class = "course-input" placeholder="Description:"></td></tr>
    </table>
    <input type="submit" class="submit-course-input" >
</form>
{{ message }}

    <h1>Courses for admin: {{ name }}</h1>
{% for class in courses %}
    <ul>
        {%  for data in class %}
                {% if forloop.first %}
                    <h4>{{ class.0 }}</h4>
                {%  else %}
                    <li> {{ data }}</li>
                {%  endif %}
        {% endfor %}
    </ul>
{% endfor %}
</body>
</html>


