<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New User - TA Scheduler App</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Create New User</h1>
    <form method="post">
        <table>
            <tr>
                <th>Account Type</th>
                <td>
                    <input type="radio" id="ta" name="role" value="TA">
                    <label for="ta">TA</label>
                    <input type="radio" id="instructor" name="role" value="Instructor">
                    <label for="instructor">Instructor</label>
                    <input type="radio" id="admin" name="role" value="Admin">
                    <label for="admin">Admin</label>
                </td>
            </tr>
            <tr>
                <th><label for="userID">ID Number</label></th>
                <td><input type="text" id="userID" name="userID" maxlength="9" required></td>
            </tr>
            <tr>
                <th><label for="name">Full Name</label></th>
                <td><input type="text" id="name" name="name" required></td>
            </tr>
            <tr>
                <th><label for="password">Password</label></th>
                <td><input type="password" id="password" name="password" required></td>
            </tr>
            <tr>
                <th><label for="email">Email</label></th>
                <td><input type="text" id="email" name="email" placeholder="example@taScheduler.com" required></td>
            </tr>
            <tr>
                <th><label for="address">Address</label></th>
                <td><input type="text" id="address" name="address" required></td>
            </tr>
            <tr>
                <th><label for="phone">Primary Phone</label></th>
                <td><input type="text" id="phone" name="phone" maxlength="13" placeholder="(XXX)XXX-XXXX" required></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Create New User">
                    <input type="reset" value="Clear Form">
                </td>
            </tr>
        </table>
        <div>{{ errorMsg }}</div>
    </form>
</body>
</html>