<!DOCTYPE html>
<html lang="en">
{% load static %}
 <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
<head>
    <meta charset="UTF-8">
    <title>Create New User</title>
</head>
<header class="page-header">
        <div class="container">
            <h1><a>UW-Milwaukee Course Management</a></h1>
        </div>
    </header>
<div class="topnav">
  <a class="active" href="/dashboard/">Home</a>
    <a href="/courses/">Courses</a>
    <a href="/labs/">Labs</a>
    <a href="/people/">People</a>
    <a href="/create_user/">Create User</a>
    <a href="/">Logout</a>
</div>
<body>
    <p class="header-create-course">Create New User</p>
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>Account Type</th>
                <td>
                    <input type="radio" id="ta" name="role" value="1" required>
                    <label for="ta">TA</label>
                    <input type="radio" id="instructor" name="role" value="2">
                    <label for="instructor">Instructor</label>
                    <input type="radio" id="admin" name="role" value="3">
                    <label for="admin">Admin</label>
                </td>
            </tr>
            <tr>
                <td><input placeholder="ID Number" class="course-input" type="text" id="user_id" name="user_id" maxlength="9" required></td>
                <td><input placeholder="Full Name" class="course-input" type="text" id="name" name="name" required></td>
            </tr>
            <tr>
                <td><input placeholder="Password" class="course-input" type="password" id="password" name="password" required></td>
                <td><input placeholder="Email" class="course-input" type="email" id="email" name="email" placeholder="example@taScheduler.com" required></td>
            </tr>
            <tr>
                <td><input placeholder="Address" class="course-input" type="text" id="address" name="address" required></td>
                <td><input placeholder="Phone Number" class="course-input" type="text" id="phone" name="phone" minlength="13" maxlength="13" placeholder="(XXX)XXX-XXXX" required></td>
            </tr>
            <tr>
                <td><input type="submit" class="submit-course-input" value="Create New User"></td>
                <td>
                    <input type="reset" value="Clear Form" class="submit-course-input">
                </td>
            </tr>
        </table>
        <div>{{ errorMsg }}</div>
    </form>
</body>
</html>