<!DOCTYPE html>
<html lang="en">
{% load static %}
 <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<div class="topnav-container">
<header class="page-header">
    <div class="container">
        <h1><a>UW-Milwaukee Course Management</a></h1>
    </div>
</header>
<div class="topnav">
  <li><a class="active" href="/dashboard/">Home</a></li>
    <li><a href="/courses/">Courses</a></li>
    <li><a href="/labs/">Labs</a></li>
    <li><a href="/people/">People</a></li>
    <li><a href="/">Logout</a></li>
     <li class="dropdown">
            <a href="" class="dropbtn">Other</a>
            <div class="dropdown-content">
                <a href="/ta_assign/">View TA Assignments</a>
                <a href="/create_user/">Create User</a>
                <a href="/edit_user/">Edit User</a>
            </div>
        </li>
</div>
</div>
<p class="header-create-course">Create a new lab</p>
<div class="error">{{ message }} </div>
<body>

    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <select name="course" id="course" class="instructor-selector" required>
                    <option value="" disabled selected>Select a Course to add Lab to</option>
                    {% for data in avaliableCourses %}
                        <option value="{{ data }}" > {{ data }}</option>
                    {% endfor %}
                </select>
                </td>
                <td><input type="text" id="lab" name="lab" class = "course-input" placeholder="Lab Name" required></td>
            </tr>
            <tr>
                <td><input type="text" id="description" name="description" class = "course-input" placeholder="Description" required></td>
            </tr>
        </table>
        <input type="submit" class="submit-course-input" >
    </form>
<p class="header-create-course">Add TA to Lab</p>
        <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <select name="ta" id="ta" class="instructor-selector" required>
                    <option value="" disabled selected>Select a TA</option>
                    {% for data in avaliableTAs %}
                        <option value="{{ data }}" > {{ data }}</option>
                    {% endfor %}
                </select>
                </td>
                            <td>
                    <select name="labs" id="labs" class="instructor-selector" required>
                    <option value="" disabled selected>Select a Lab</option>
                    {% for data in avaliableLabs %}
                        <option value="{{ data }}" > {{ data }}</option>
                    {% endfor %}
                </select>
                </td>


            </tr>
        </table>
        <input type="submit" name="addTA" id="addTA" class="submit-course-input" >
    </form>

{% for data in labAndCourse %}
    <div class="container">
        <div class="course-square">
            {% for class in labAndCourse %}

                {% if forloop.first %}
                    <div class="course-name">
                        {{ class.0 }}
                    </div>
                {% else %}
                    <div class="course-info">
                        <li> {{ data.1 }}</li>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}


</body>
</html>