<!DOCTYPE html>
<html lang="en">
{% load static %}
 <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
<head>
    <meta charset="UTF-8">
    <title>TA Scheduler</title>
</head>
    <header class="page-header">
        <div class="container">
            <h1><a>UW-Milwaukee Course Management</a></h1>
        </div>
    </header>
<div class="error">{{ message }} </div>
<body>
    <div class="login-square">
         <p class="sign" >Sign in</p>
        <form action="/" method="post">
    {% csrf_token %}
    <table>
        <tr><td><input type="email" name="email" class = "email" placeholder="email"></td></tr>
        <tr><td><input class="password" type="password" name="password" placeholder="password"></td></tr>
    </table>
    <input class="submit" type="submit">
</form>
    </div>
</body>
</html>